<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=usersdata.db"
			 providerName ="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key ="Host" value="127.0.0.1" />

		<add key ="Port" value="2222" />
	</appSettings>

</configuration>